.selected {
  cursor: pointer;
  width: 170px;
  background-color: #6c6088;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  :last-child {
    margin-left: 5px;
  }
}

.list {
  position: absolute;
  width: 170px;
  z-index: 99;

  background-color: #6c6088;
  .item {
    cursor: pointer;
    padding: 10px 20px;
    font-size: 13px;
    &:hover {
      background-color: #9a94a7;
    }
  }
}

.active {
  background-color: #7841ed;
}
