.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(151px, 151px));
  gap: 20px;
  margin: 20px 0;
  .item {
    width: 151px;
    margin-bottom: 5px;
    position: relative;
    .rating {
      position: absolute;
      top: 5px;
      right: 5px;
      color: #ff6738;
      font-size: 15px;
    }
  }
}
